{% extends "layout.html" %}

{% block title %}{{ config.public_info.name }} - Home{% endblock %}

{% block content %}
<div class='content-wrapper transparent-container' id='home'>
    <div class='messages'></div>
    <header>
        <h1>{{ config.public_info.name }}</h1>
    </header>
    {% if client.rank >= config.privileges().post_list %}
    <form class='horizontal'>
        <%= ctx.makeTextInput({name: 'search-text' , placeholder: 'enter some tags' }) %>
            <input type='submit' value='Search' />
            <span class=sep>or</span>
            <a href='<%- ctx.formatClientLink(' posts') %>'>browse all posts</a>
    </form>
    {% endif %}
    <div class='post-info-container'></div>
    <footer class='footer-container'></footer>
</div>
{% endblock %}