{% extends "layout.html" %}

{% block title %}{{ ctx.site_name() }} - Posts{% endblock %}

{% block content %}
{% if ctx.has_privilege(Action::PostList) %}

{% include "partials/posts_header.html" %}

{# TODO: Post flow #}
<div class="post-list">
    {% if !posts.is_empty() %}
    <ul>
        {% for post in posts %}
        <li data-post-id="{{ post.id }}">
            <a class="thumbnail-wrapper {% if post.tags.is_empty() %}no-tags{% else %}tags{% endif %}"
                title="{{ post.title }}" href="{% if ctx.has_privilege(Action::PostView) %}{{ post.url }}{% endif %}">
                <span class="thumbnail" style="background-image: url({{ post.thumbnail_url }})">
                    <img alt="thumbnail" src="{{ post.thumbnail_url }}">
                </span>

                <span class="type" data-type="{{ post.type_ }}">
                    {% if matches!(post.type_, PostType::Video | PostType::Flash | PostType::Animation) %}
                    <span class="icon"><i class="fa fa-film"></i></span>
                    {% endif %}

                    {{ post.type_ }}
                </span>

                {% if post.score != 0 || post.favorite_count > 0 || post.comment_count > 0 %}
                <span class="stats">
                    {% if post.score != 0 %}
                    <span class="icon">
                        <i class="fa fa-thumbs-up"></i>
                        <span style="display: none">score:</span>
                        {{ post.score }}
                    </span>
                    {% endif %}

                    {% if post.favorite_count > 0 %}
                    <span class="icon">
                        <i class="fa fa-heart"></i>
                        <span style="display: none">favorites:</span>
                        {{ post.favorite_count }}
                    </span>
                    {% endif %}

                    {% if post.comment_count > 0 %}
                    <span class="icon">
                        <i class="fa fa-commenting"></i>
                        <span style="display: none">comments:</span>
                        {{ post.comment_count }}
                    </span>
                    {% endif %}
                </span>
                {% endif %}
            </a>

            {# TODO: Post edit modes #}
            <span class="edit-overlay">
                {% if ctx.has_privilege(Action::PostBulkEditTag) %}
                <a href class="tag-flipper"></a>
                {% endif %}

                {% if ctx.has_privilege(Action::PostBulkEditSafety) %}
                <span class="safety-flipper">
                    {% for safety in PostSafety::iter() %}
                    <a href data-safety="{{ safety }}"
                        class="safety-{{ safety }} {% if safety == post.safety %}active{% endif %}"></a>
                    {% endfor %}
                </span>
                {% endif %}

                {% if ctx.has_privilege(Action::PostBulkEditDelete) %}
                <a href class="delete-flipper"></a>
                {% endif %}
            </span>
        </li>
        {% endfor %}

        {% for _ in 0..20 %}
        <li class="flexbox-dummy"></li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

{% endif %}
{% endblock %}