@import colors

.post-related
    text-align: center

    >header
        margin-bottom: 1em

    .related-scroll
        list-style-type: none
        margin: 0
        padding: 0

        li
            margin: 0 auto 2em auto

            header
                margin-bottom: 0.3em

                .details
                    margin-left: 0.6em
                    color: $inactive-link-color

            img, video
                max-width: 100%
                height: auto

            .thumbnail
                width: 8em
                height: 6em

.darktheme .post-related
    .related-scroll li header .details
        color: $inactive-link-color-darktheme
