<nav class="buttons secondary">
    <ul>
        <li data-name="default" {% if active_search_tab==SearchTab::General %} class="active" {% endif %}>
            <a href="/help/search">General</a>
        </li>
        <li data-name="posts" {% if active_search_tab==SearchTab::Posts %} class="active" {% endif %}>
            <a href="/help/search/posts">Posts</a>
        </li>
        <li data-name="users" {% if active_search_tab==SearchTab::Users %} class="active" {% endif %}>
            <a href="/help/search/users">Users</a>
        </li>
        <li data-name="tags" {% if active_search_tab==SearchTab::Tags %} class="active" {% endif %}>
            <a href="/help/search/tags">Tags</a>
        </li>
        <li data-name="pools" {% if active_search_tab==SearchTab::Pools %} class="active" {% endif %}>
            <a href="/help/search/pools">Pools</a>
        </li>
    </ul>
</nav>

<div class="subcontent">
    {% match active_search_tab %}
    {% when SearchTab::General %}{% include "partials/help_search_general.html" %}
    {% when SearchTab::Posts %}{% include "partials/help_search_posts.html" %}
    {% when SearchTab::Users %}{% include "partials/help_search_users.html" %}
    {% when SearchTab::Tags %}{% include "partials/help_search_tags.html" %}
    {% when SearchTab::Pools %}{% include "partials/help_search_pools.html" %}
    {% endmatch %}
</div>