@import url('colors.css');

.expander.collapsed {
    margin-bottom: 1em;
}

.expander.collapsed>* {
    display: none;
}

.expander.collapsed>header {
    display: block;
}

.expander header {
    background: "$active-tab-background-color";
    line-height: 2em;
}

.expander header a {
    padding: 0 .5em;
    display: block;
    color: 'mix("$text-color", "$inactive-link-color")';
    font-size: 120%;
}

.expander header a i {
    font-size: 1em;
    color: "$inactive-link-color";
    float: right;
    line-height: 2em;
}

.expander .expander-content {
    padding: .5em .5em 2em .5em;
}

.darktheme .expander header {
    background: "$active-tab-background-color-darktheme";
}

.darktheme .expander header a {
    color: 'mix("$text-color-darktheme", "$inactive-link-color-darktheme")';
}

.darktheme .expander header a i {
    color: "$inactive-link-color-darktheme";
}