#home {
    text-align: center !important;
    max-width: 100%;
}

#home header {
    margin-bottom: 1em;
}

#home header h1 {
    line-height: initial;
    font-size: 2.5em;
    margin: 0;
}

#home .messages {
    text-align: center;
}

#home .messages .message {
    margin: 0 auto 2em auto;
}

#home form {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    margin: 0 0 2em 0;
    text-align: left;
    white-space: nowrap;
}

#home form input {
    width: auto;
}

#home form .sep {
    margin: 0 .75em;
}

@media (max-width:500px) {

    #home form .sep,
    #home form a {
        display: none;
    }
}

#home .post-container {
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home .post-container:empty {
    margin-bottom: 0;
}

#home nav a {
    padding: .5em;
}

#home aside {
    margin-bottom: .3em;
    font-size: 90%;
    white-space: nowrap;
}

#home footer {
    line-height: 150%;
    font-size: 80%;
}

#home footer ul {
    padding: 0;
    text-align: center;
}

#home footer ul li {
    display: inline;
    white-space: nowrap;
}

@media (max-width:800px) {
    #home footer ul li {
        display: block;
    }
}

#home footer ul .sep {
    word-spacing: 1.1em;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><circle cx='6' cy='6' r='2' fill='%23111111'/></svg>");
}

#home .thumbnail {
    margin-right: .4em
}

.darktheme #home footer ul .sep {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><circle cx='6' cy='6' r='2' fill='%23e6e6e6'/></svg>");
}