#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: var(--main-color);
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
}

#nprogress .spinner-icon {
    display: none;
}

#nprogress .peg {
    display: none;
}

.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
}