.snapshot-list {
    text-align: left;
}

.snapshot-list ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 35em;
    list-style-type: none;
}

.snapshot-list ul li {
    margin-bottom: 1em;
}

.snapshot-list ul li:last-child {
    margin-bottom: 0;
}

.snapshot-list ul li .time {
    float: right;
}

.snapshot-list ul li div {
    padding: .1em .5em;
}

.snapshot-list ul li div .thumbnail {
    margin: 0 .4em 0 0;
}

.snapshot-list ul li div:empty {
    padding: 0;
}

.snapshot-list ul li div.operation-created {
    background: var(--snapshot-created-background-color);
}

.snapshot-list ul li div.operation-created+.details {
    background: rgb(from var(--snapshot-created-background-color) r g b / 50%);
}

.snapshot-list ul li div.operation-modified {
    background: var(--snapshot-modified-background-color);
}

.snapshot-list ul li div.operation-modified+.details {
    background: rgb(from var(--snapshot-modified-background-color) r g b / 50%);
}

.snapshot-list ul li div.operation-deleted {
    background: var(--snapshot-deleted-background-color);
}

.snapshot-list ul li div.operation-deleted+.details {
    background: rgb(from var(--snapshot-deleted-background-color) r g b / 50%);
}

.snapshot-list ul li div.operation-merged {
    background: var(--snapshot-merged-background-color);
}

.snapshot-list ul li div.operation-merged+.details {
    background: rgb(from var(--snapshot-merged-background-color) r g b / 50%);
}

.darktheme .snapshot-list ul li div.operation-created {
    background: oklch(from var(--snapshot-created-background-color) calc(l - 80%) c h);
}

.darktheme .snapshot-list ul li div.operation-created+.details {
    background: oklch(from var(--snapshot-created-background-color) calc(l - 80%) c h / 50%);
}

.darktheme .snapshot-list ul li div.operation-modified {
    background: oklch(from var(--snapshot-modified-background-color) calc(l - 80%) c h);
}

.darktheme .snapshot-list ul li div.operation-modified+.details {
    background: oklch(from var(--snapshot-modified-background-color) calc(l - 80%) c h / 50%);
}

.darktheme .snapshot-list ul li div.operation-deleted {
    background: oklch(from var(--snapshot-deleted-background-color) calc(l - 80%) c h);
}

.darktheme .snapshot-list ul li div.operation-deleted+.details {
    background: oklch(from var(--snapshot-deleted-background-color) calc(l - 80%) c h / 50%);
}

.darktheme .snapshot-list ul li div.operation-merged {
    background: oklch(from var(--snapshot-merged-background-color) calc(l - 80%) c h);
}

.darktheme .snapshot-list ul li div.operation-merged+.details {
    background: oklch(from var(--snapshot-merged-background-color) calc(l - 80%) c h / 50%);
}