.tag-list table {
    width: 100%;
    border-spacing: 0;
    text-align: left;
    line-height: 1.3em;
}

.tag-list table tr:hover td {
    background: var(--top-navigation-color);
}

.tag-list table th,
.tag-list table td {
    padding: .1em .5em;
}

.tag-list table th {
    white-space: nowrap;
    background: var(--top-navigation-color);
}

.tag-list table .names {
    width: 28%;
}

.tag-list table .implications {
    width: 28%;
}

.tag-list table .suggestions {
    width: 28%;
}

.tag-list table .usages {
    text-align: center;
    width: 8%;
}

.tag-list table .creation-time {
    text-align: center;
    width: 8%;
    white-space: pre;
}

.tag-list table ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

.tag-list table ul li {
    padding: 0;
    display: inline;
}

.tag-list table ul li:not(:last-child):after {
    content: ', ';
}

@media (max-width:800px) {

    .tag-list table .implications,
    .tag-list table .suggestions {
        display: none;
    }
}

.darktheme .tag-list table tr:hover td {
    background: var(--top-navigation-color-darktheme);
}

.darktheme .tag-list table th {
    background: var(--top-navigation-color-darktheme);
}

.tag-list-header {
    text-align: left;
}

.tag-list-header label {
    display: none !important;
}

.tag-list-header form {
    width: auto;
}

.tag-list-header input[name=search-text] {
    width: 25em;
}

@media (max-width:1000px) {
    .tag-list-header input[name=search-text] {
        width: 100%;
    }
}

.tag-list-header .append {
    vertical-align: middle;
    font-size: .95em;
    color: var(--inactive-link-color);
}

.darktheme .tag-list-header .append {
    color: var(--inactive-link-color-darktheme);
}